.body {
  margin: auto;
  padding: 20px;
}

table, td {
  margin: auto;
  border: 0px;
  text-align: right;
}

table {
  max-width: 50%;
  border-collapse: collapse;
  width: 100%;
}

tr {
  padding: 0;
}

td {
  padding: 10px 5px;
}

.labels {
  text-align: left;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  @extend %font;
}

.hr {
  height: 0.5px;
  border: none;
  color: $separator-color;
  background-color: $separator-color;
}

.tooltip {
  position: relative;
  display: inline;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: $theme-complimentary-color;
  color: $text-color;
  text-align: center;
  padding: 6px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -90px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $theme-complimentary-color transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
