.footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  width: 100vw;
}

.footer-link-text {
  display: inline-block;
  @extend %font;
  margin: auto 10px;
  text-decoration: none;
}

.footer-link {
  padding: 2px 4px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: $text-color;
}

.footer-link:hover {
  background-color: $header-background-color;
  border-radius: 3px;
  color: $theme-color;
}
