.logo-image {
  display: block;
  margin: auto;
  padding-top: 10px;
  max-width: 50px;
}

.header {
  background-color: $header-background-color;
  width: 100%;
  width: 100vw;
  height: 80px;
}

.title-text {
  @extend %font;
  margin-bottom: 10px;
  text-align: center;
}
