@font-face {
  font-family: 'Avenir';
  font-display: auto;
  src: url('../../assets/fonts/avenir/avenir_light.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Avenir';
  font-display: auto;
  src: url('../../assets/fonts/avenir/avenir_medium.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir';
  font-display: auto;
  src: url('../../assets/fonts/avenir/avenir_semi_bold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir';
  font-display: auto;
  src: url('../../assets/fonts/avenir/avenir_bold.ttf') format('truetype');
  font-weight: 600;
}
