$background-color: #191919;
$header-background-color: #131313;
$text-color: #FFFFFF;
$theme-color: #D35759;
$theme-complimentary-color: #494949;
$separator-color: #292929;

$font-size: 12px;
$font-weight: 200;
$font-family: 'Avenir';

$toggle-transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$toggle-width: 4em;
$toggle-height: $toggle-width/2;

%font {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}
